*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: #fffefa;
}
.top{
    margin: 0 auto;
    height: 20%;
    width: 70%;
    background-color: aquamarine;
}
.body{
    margin: 10px 0px 10px 0px;
    height: 800px;
    width: 100%;
    background-color: #fffefa;
}
.left{
    float: left;
    height: 20%;
    width: 15%;
    background-color: yellow;
}
.right{
    float: right;
    height: 20%;
    width: 15%;
    background-color: yellow;
}
.bg{
    position: relative;
    height: 100%;
    width: 10%;
    background-color: #ff1018;
    float: left;
    list-style: none;
    box-shadow: 2px 2px 2px yellow;
    border:5px solid color(#fffefa);
}
.dg{
    display: block;
    color: #fffefa;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
.fg{
    height: 800px;
    width: 930px;
    background-color: #fffefa;
    margin-left: auto;
    margin-right: auto;
}
.fon{
    text-align: center;
    border-bottom:1px solid #f0f0f0;
}
.header{
    height: 30px;
    width: 40px;
    float: right;
    background-color: aqua;
}
.in{
    height: 100%;
    width: 100%;
    background-image: url("images/13.png");
}
.box{
    display: inline-block;
    height: 185px;
    width: 220px;
    background-color: #fffefa;
    border-radius: 30px;
}
.psytle{
    display: block;
    text-align: center;
}
.phoLeft{
    width: 15%;
    height: 600px;
    float: left;
}
.phoRight{
    width: 15%;
    height: 600px;
    float: right;
}
.image{
    height: 157px;
    width: 215px;
    alt:"";
    onclick:"widows.open('www.baidu.com')";
    cursor: pointer;
    border-radius: 25px;
}